*{
    margin: 0;
}
.form{
  border: orange solid 2px;
  width: 50%;
  height: 150%;
  text-align: center;
  margin-bottom: 25vh;
  margin-left: 50vh;
}
.Annocement-discription{
     border: 2px solid orange;
     margin: 5vh;
     border-radius: 10px;
     padding: 5vh;
     
}

/* .Annocement-Heading{
    
}

.Annoucemet-paragraph{
    
} */



.Nav-div{
    padding: 2vh;
    background-color: #333;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }

  .regtile-wrapper{
    margin-left: 25vh;
  }
  .regtile-div{
    float: left;
    margin: 2vh;
    height: 25vh;
    width: 25vh;
    border-radius: 10px;
    background-color: rgb(245, 214, 155);
    
  }
  .regtile-p{
    margin: 4vh;
    text-align: center;
  }
  .regtile-div:hover{
   box-shadow:10px 10px 20px rgb(170, 170, 170);

  }
  .profile-Div{
    margin:2vh;
    padding: 2vh;
    float: left;
    border: orange solid 2px;
    width: 15%;
    height: 25vh;
    text-align: center;
  }
  .profileimg{
    border-radius: 50%;
    border: 2px solid orange;
  }
  table, td, th {
    border: 1px solid rgb(7, 7, 7);
    height: 5vh;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .creditCard{
    border: 1px solid orange;
    width: 70%;
    float: left;
    margin: 1.5vh;
    border-radius: 5px;
    padding: 1.5vh;
  }
  .footer-div{
    background-color: orange;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}
  
  
  