.announcement-form {
    background-color: #f5dd8f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    color: #343027;
    margin-top: 30px;
  }
  
  .form-section {
    margin-bottom: 20px;
  }
  
  .form-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-section textarea, 
  .form-section input[type="file"] {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    background-color: #e2903f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button[type="submit"]:hover {
    background-color: #5366f8;
  }
  a{
    color: #343027;
  }

  .scrollable-content {
    overflow-y: auto;
    height: calc(100vh - 112px); /* 100vh minus the navbar and footer heights */
  }
  
  .footer-div {
    background-color: rgb(220, 140, 42);
    text-align: center;
  }

  /*Style for active nav-link*/
  .nav-link.active {
    font-weight: bold;
    color: rgb(220, 140, 42) !important;
  }